.about{
    color: beige;
    background: black;
    text-align: center;
    margin-top: 100px;
    padding: 100px;
    border: 0px;
}
.description{
    color:white;
    background: black;
    margin-top: 150px;
}